.logohome {
  position: fixed;
  z-index: 9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  width: 328px;
  height: 64px;
}

.logohomeimage {
  position: relative;
  margin: 11px 95px;
}
