.logohome {
  position: fixed;
  z-index: 10;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 20%;
  min-width: 200px;
  height: 64px;
}

.logohomeimage {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
