.languageselectionmenu {
  position: absolute;
  width: 26px;
  /* height: 30px; */
  /* color: tomato; */
  z-index: 9;
  transform: translateX(-26px);
}

.languageselectionmenuitem {
  position: relative;
  height: 24px;
  /* display: flex; */

  /* background-color: #dddddd; */
}

.languageselectionmenuitem:hover {
  background-color: #00619d;
}

.languageflag {
  display: flex;

  /* position: relative; */
  /* margin-left: 12px; */
  /* top: 10px; */
  /* margin-top: 8px; */
  /* margin-left: 10px; */
}
