.topbarlogo {
  position: absolute;
  z-index: 10;
  width: 20%;
  min-width: 200px;
  max-width: 270px;
  height: 64px;
  top: 0px;
  cursor: pointer;
}

.topbarlogoimage {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1350px) {
  .topbarlogo {
    left: 0px;
  }
}

@media only screen and (min-width: 1350px) {
  .topbarlogo {
    left: calc((100% - 1350px) / 2);
    /* left: 200px; */
  }
}
