.topbarselection {
  position: absolute;
  z-index: 10;
  left: 20%;
  /* right: 500px; */
  width: calc(80% - 500px);
  background-color: rgb(255, 255, 255);
  max-width: 580px;
  height: 64px;
  top: 0px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .topbarselection {
    left: 200px;
  }
}

@media only screen and (min-width: 1350px) {
  .topbarselection {
    left: calc((((100% - 1350px) / 2)) + 270px);
  }
}
