.itemcontentcomponent {
  position: fixed;
  left: 20%;
  top: 65px;
  background-color: #ffffff;
  width: 900px;
  height: 100%;
  overflow: auto;
  margin-left: 1px;
}

@media only screen and (max-width: 1000px) {
  .itemcontentcomponent {
    left: 200px;
  }
}

/* BUTTON */

.buttonstarttraining {
  position: relative;
  float: right;
  right: 40px;
  bottom: -75%;

  background-color: #00619d;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonstarttraining:hover {
  background-color: #2cc25f;
}

.buttontext {
  text-align: center;
  margin-top: 35px;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}
