.traininglist {
  position: relative;
  left: 328px;
  top: 64px;
  background-color: #ebebeb;
  height: 100%;
  margin-left: 1px;
  width: 75px;
  height: 50px;
}
.traininglistitem {
  position: relative;
  width: 800px;
  left: 0%;
  right: 5%;
  height: 70px;
  justify-content: space-between;
  padding: 17px;
  margin-bottom: 1px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-content: space-around;
}

.traininglistitem:hover {
  background-color: #F5F5F5;
}

.traininglistitemheader {
  left: 15px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  color: #444444;
  font-style: normal;
}

.traininglistitemdate {
  word-wrap: inherit;
  left: 15px;
  position: relative;
  top: 0px;
  font-weight: normal;
  font-size: 12px;
  word-wrap: normal;
  color: black;
}

.traininglistitemdeletebtn {
  background-color: #00619D;
  bottom: 20px;
  width: 150px;
}


